In [94]:
import pandas as pd
import numpy as np

from datetime import datetime

In [59]:
normal_a = pd.read_csv("data/normal_mixed_1549901031015048.csv")

# normal_a = pd.read_csv("data/normal_longitudinal_acceleration_1549908723215048.csv")

In [60]:
normal_a.head()

,Unnamed: 0,timestamp,accel_x,accel_y,accel_z,gyro_roll,gyro_pitch,gyro_yaw,label
0,0,1549901031015048,0.021258,0.072019,0.757077,0.002319,0.001862,0.017807,0
1,1,1549901031065048,0.028152,0.019107,0.750582,0.004978,-0.000798,0.032158,0
2,2,1549901031115048,0.035621,0.055852,0.753566,0.017208,0.002926,0.020442,0
3,3,1549901031165048,0.051708,0.116113,0.748827,0.004966,-0.003990,0.024154,0
4,4,1549901031215048,0.072966,0.055852,0.756550,0.000177,0.001331,0.026801,0

In [61]:
normal_a.describe()

,Unnamed: 0,timestamp,accel_x,accel_y,accel_z,gyro_roll,gyro_pitch,gyro_yaw,label
count,10143.000000,1.014300e+04,10143.000000,10143.000000,10143.000000,10143.000000,10143.000000,10143.000000,10143.0
mean,5071.000000,1.549901e+15,0.027469,0.072955,0.752117,-0.000924,0.000317,-0.034139,0.0
std,2928.176224,1.464289e+08,0.048772,0.083715,0.003813,0.017493,0.017878,0.142163,0.0
min,0.000000,1.549901e+15,-1.132734,-0.566306,0.720741,-0.146374,-0.172978,-0.521949,0.0
25%,2535.500000,1.549901e+15,0.012353,0.032335,0.750406,-0.008479,-0.006961,-0.106844,0.0
50%,5071.000000,1.549901e+15,0.031025,0.076429,0.752162,-0.000126,-0.000247,-0.007319,0.0
75%,7606.500000,1.549901e+15,0.050559,0.120522,0.753741,0.006970,0.006891,0.027574,0.0
max,10142.000000,1.549902e+15,0.392407,0.664340,0.784986,0.211681,0.224617,0.491278,0.0

In [171]:
# Convert Unix time to DateTime object; Unit: microseconds

normal_a["datetime"] = pd.to_datetime(normal_a['timestamp'], unit='us')

In [172]:
normal_a.head()

,Unnamed: 0,timestamp,accel_x,accel_y,accel_z,gyro_roll,gyro_pitch,gyro_yaw,label,datetime,accel,delta_t,delta_a,jerk
0,0,1549901031015048,0.021258,0.072019,0.757077,0.002319,0.001862,0.017807,0,2019-02-11 16:03:51.015048,0.760791,NaN,NaN,NaN
1,1,1549901031065048,0.028152,0.019107,0.750582,0.004978,-0.000798,0.032158,0,2019-02-11 16:03:51.065048,0.751353,0.05,-0.009439,-0.188777
2,2,1549901031115048,0.035621,0.055852,0.753566,0.017208,0.002926,0.020442,0,2019-02-11 16:03:51.115048,0.756472,0.05,0.005119,0.102387
3,3,1549901031165048,0.051708,0.116113,0.748827,0.004966,-0.003990,0.024154,0,2019-02-11 16:03:51.165048,0.759537,0.05,0.003065,0.061308
4,4,1549901031215048,0.072966,0.055852,0.756550,0.000177,0.001331,0.026801,0,2019-02-11 16:03:51.215048,0.762110,0.05,0.002572,0.051449

In [173]:
# calc accelleration

normal_a["accel"] = np.sqrt(pow(normal_a.accel_x, 2) + pow(normal_a.accel_y, 2) + pow(normal_a.accel_z, 2))

In [174]:
normal_a.head()

,Unnamed: 0,timestamp,accel_x,accel_y,accel_z,gyro_roll,gyro_pitch,gyro_yaw,label,datetime,accel,delta_t,delta_a,jerk
0,0,1549901031015048,0.021258,0.072019,0.757077,0.002319,0.001862,0.017807,0,2019-02-11 16:03:51.015048,0.760791,NaN,NaN,NaN
1,1,1549901031065048,0.028152,0.019107,0.750582,0.004978,-0.000798,0.032158,0,2019-02-11 16:03:51.065048,0.751353,0.05,-0.009439,-0.188777
2,2,1549901031115048,0.035621,0.055852,0.753566,0.017208,0.002926,0.020442,0,2019-02-11 16:03:51.115048,0.756472,0.05,0.005119,0.102387
3,3,1549901031165048,0.051708,0.116113,0.748827,0.004966,-0.003990,0.024154,0,2019-02-11 16:03:51.165048,0.759537,0.05,0.003065,0.061308
4,4,1549901031215048,0.072966,0.055852,0.756550,0.000177,0.001331,0.026801,0,2019-02-11 16:03:51.215048,0.762110,0.05,0.002572,0.051449

In [177]:
# Mean acceleration values per driver event type (example: aggressive bump) and per label;

normal_a[["label", "accel"]].groupby("label").mean()

          accel
label
0      0.762132

In [178]:
normal_a.head()

,Unnamed: 0,timestamp,accel_x,accel_y,accel_z,gyro_roll,gyro_pitch,gyro_yaw,label,datetime,accel,delta_t,delta_a,jerk
0,0,1549901031015048,0.021258,0.072019,0.757077,0.002319,0.001862,0.017807,0,2019-02-11 16:03:51.015048,0.760791,NaN,NaN,NaN
1,1,1549901031065048,0.028152,0.019107,0.750582,0.004978,-0.000798,0.032158,0,2019-02-11 16:03:51.065048,0.751353,0.05,-0.009439,-0.188777
2,2,1549901031115048,0.035621,0.055852,0.753566,0.017208,0.002926,0.020442,0,2019-02-11 16:03:51.115048,0.756472,0.05,0.005119,0.102387
3,3,1549901031165048,0.051708,0.116113,0.748827,0.004966,-0.003990,0.024154,0,2019-02-11 16:03:51.165048,0.759537,0.05,0.003065,0.061308
4,4,1549901031215048,0.072966,0.055852,0.756550,0.000177,0.001331,0.026801,0,2019-02-11 16:03:51.215048,0.762110,0.05,0.002572,0.051449

In [162]:
normal_a["delta_a"] = normal_a["accel"].diff()

In [163]:
# diff returns a timedelta object; converts to microseconds
normal_a["delta_t"] = normal_a["datetime"].diff().dt.microseconds

# convert to seconds
normal_a["delta_t"] = normal_a["delta_t"] / 1E6

In [164]:
normal_a["delta_t"].head()

0     NaN
1    0.05
2    0.05
3    0.05
4    0.05
Name: delta_t, dtype: float64

In [166]:
normal_a["jerk"] = normal_a.delta_a/normal_a.delta_t

In [182]:
min(normal_a.datetime)

Timestamp('2019-02-11 16:03:51.015048')

In [183]:
max(normal_a.datetime)

Timestamp('2019-02-11 16:12:18.165048')

In [181]:
# get the maximum 

idx = normal_a['jerk'].idxmax()
print(idx, normal_a["jerk"][idx] )

print(normal_a.loc[idx]['datetime'])
print(normal_a.loc[idx]['jerk'])

2567 5.005857398018043
2019-02-11 16:05:59.365048
5.005857398018043